.content {
    height: 500px;
    background: #fff;
    border-radius: 15px;
}

.title {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 32px;
}

.titleNum {
    margin-right: 15px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 50px;
    border: 1px solid #000;
    font-size: 20px;
}

.titleText {
    font-size: 30px;
    font-weight: lighter;
}

.coinLi {
    display: flex;
    align-items: center;
    gap:  30px;
}

.coinImg {
    width: 30px;
    height: 30px;
}

.coinLi, .coinName {
    margin: 0;
}


{
    --primary-light-color: #b8b5f8;
}